main {
  min-height: 80vh;
}

h1{
  font-size: 1.8rem;
  padding:1rem 0;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.06rem;
}

table, tbody, tr, th, td{
  background-color: rgba(0, 0, 0, 0.0) !important;
}

td, th {
  text-align: center;
  vertical-align: middle;
}