main {
  min-height: 80vh;
}

h1{
  font-size: 1.8rem;
  padding:1rem 0;
}

h2{
  font-size: 1.4rem;
  padding:0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.06rem;
}

table tr td, table tr th{
  background-color: rgba(211, 130, 240, 0) !important;
}